name: Launchpad GDPR Obfuscator Workflow 
on: 
  push: 
    branches:
      - main

jobs:
  setup-system: 
    name: 'setup'
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v4
      with:
        python-version: "3.12"

    - name: Set up dependencies
      run:
        make requirements

    - name: Run checks and tests
      run:
        make run-checks

    - name: Create coverage report
      run: make check-coverage-txt

    - name: Upload coverage report
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: coverage.txt

  # deploy-dev:
  #   name: deploy-dev
  #   needs: setup-system  # Obligated: only start if tests were successful!
  #   environment: dev
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout Repo
  #       uses: actions/checkout@v4

  #     - name: Configure AWS credentials
  #       uses: aws-actions/configure-aws-credentials@v4.1.0
  #       with:
  #         aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
  #         aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  #         aws-region: eu-west-2

  #     - name: Install Terraform
  #       uses: hashicorp/setup-terraform@v3

  #     - name: Terraform Init
  #       working-directory: terraform
  #       run: terraform init

  #     - name: Terraform Plan
  #       working-directory: terraform
  #       run: terraform plan

  #     - name: Terraform Apply
  #       working-directory: terraform
  #       run: terraform apply -auto-approve

  #     # - name: Terraform Destroy
  #     #   working-directory: terraform
  #     #   run: terraform destroy -auto-approve